:root {
  --font-family: Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #202020;
    --color-primary: #e0e0e0;
    --color-primary-accent: #ffffff;
    --color-secondary: #fddfc9;
    --color-secondary-accent: #826456;
    --color-warning: #c58886;
    --color-warning-accent: #9f0931;
    --color-success: #c8c8a9;
    --color-success-accent: #337d4b;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-primary: #000000;
    --color-primary-accent: #000000;
    --color-secondary: #826456;
    --color-secondary-accent: #fddfc9;
    --color-warning: #6e2035;
    --color-warning-accent: #ff4c46;
    --color-success: #337d4b;
    --color-success-accent: #c8c8a9;
  }
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  margin: auto;
  max-width: 38rem;
  padding: 5vmax;
}
